################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/QualityManagementApp/FileContentIndex/0a6f80af-8e53-4401-b200-b3e253edf2a6.vsidx
/.vs/QualityManagementApp/FileContentIndex/371bace1-578f-49db-a49c-78498743cc6e.vsidx
/.vs/QualityManagementApp/FileContentIndex/7d4d45ef-1ff6-4429-85c8-ac5eb82f9ede.vsidx
/.vs/QualityManagementApp/FileContentIndex/802cdec4-5002-4d0e-9e0f-9eb6b20796b8.vsidx
/.vs/QualityManagementApp/v17/.futdcache.v2
